<h2>Cargar una nueva peli</h2>

<form action="/movie/add" method="POST" enctype="multipart/form-data">

<label for="title">Titulo de la peli</label>
<input type="text" name="title">

<label for="description">descripcion peli</label>
<input type="text" name="description">

<label for="photo">Poster</label>
<input type="file" name="photo">

<input type="submit" value="guardar">

</form>